div#wrapperHeader {
 width:100%;
 height:80px;
 text-align:center;
}

div#wrapperHeader div#header {
 width:100%;
 height:70px;
 margin:0 auto;
}

body {
	font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
	background: linear-gradient(180deg, #0099ff, #ffffff); 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

h2 {
	font-weight: 300;
	font-size: xx-large;
	margin: 8px;
}

p {
	font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.apple-pay {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.apple-pay-button {
	-webkit-appearance: -apple-pay-button; 
	-apple-pay-button-type: buy;
	display: inline-block;
	width: 200px;
	min-height: 30px;
	border: 1px solid black;
	background-image: -webkit-named-image(apple-pay-logo-black);
	background-size: 100% calc(60% + 2px);
	background-repeat: no-repeat;
	background-color: white;
	background-position: 50% 50%;
	border-radius: 5px;
	padding: 0px;
	margin: 5px auto;
	transition: background-color .15s;
}

.apple-pay-button.visible {
	visibility: visible;
}

.apple-pay-button:active {
	background-color: rgb(152, 152, 152);
}

button {
	color: white;
	border: 1px solid black;
	background-color: black;
	border-radius: 5px;
	transition: background-color .25s;
}

button:active {
	background-color: darkgray;
}

button:disabled {
	color: lightgray;
	background-color: darkgray;
	transition: background-color .25s;
}

.event-button {
	padding: 0px;
	margin: 5px;
	width: 120px;
	min-height: 30px;
}

.copy-button {
	padding: 0px;
	margin: 2px;
	width: 60px;
	min-height: 20px;
}

#cart h2 {
	text-align: left;
}

#cart .item {
	float: unset;
	border-top: solid 1px lightgray;
	padding: 5px;
	width: 100%;
	height: 150px;
}

#cart .shipping {
	float: unset;
	border-top: solid 1px lightgray;
	padding: 5px;
	width: 100%;
	height: 50px;
}

#cart .shipping-methods {
	float: unset;
	border-top: solid 1px lightgray;
	padding: 5px;
	width: 100%;
	min-height: 120px;
}

#cart .shipping-method {
	float: unset;
	padding: 5px;
	width: 100%;
	height: 50px;
}

#cart .options {
	float: unset;
	width: 100%;
	text-align: left;
}

#cart .order-total {
	float: unset;
	width: 100%;
	text-align: right;
}


#cart .product-image {
	width: 100px;
}

#cart .cta-image {
	width: 30px;
}

#cart .thumbnail {
	padding: 5px;
	float: left;
	vertical-align: top;
	width: 30%;
}

#cart .selector {
	padding: 0;
	float: left;
	vertical-align: top;
	width: 30%;
	height: 50px;
}

#cart .product-details {
	float: left;
	vertical-align: top;
	width: 50%;
}

#cart .price {
	text-align: right;
	float: none;
	vertical-align: top;
}

#cart .label {
	margin: 0;
	text-align: left;
	font-size: large;
}

#cart .detail {
	margin: 0;
	text-align: left;
	font-size: smaller;
}

#cart .attribute {
	margin: 0;
	text-align: left;
	font-size: small;
}

#cart .quantity {
	text-align: left;
}

#cart .quantity input {
	width: 40px;
}
