<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Use this version of Vue.js for debugging -->
	<!-- <script src="https://unpkg.com/vue@3"></script> -->

	<!-- Use this version of Vue.js for production. See https://cdnjs.com/libraries/vue -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.prod.min.js" integrity="sha512-8GokEWxcB/NrPU4O8BHTgd9dkLouAsvqCnk6BSa2CZw7QXh0QM8GHfS53xYW1QJJVyJWctlcdRQwu5UxeLVsNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="js/utils.js"></script>
	<script src="js/tracking.js"></script>
	<title>Order Placed</title>
</head>

<body>
	<div class="apple-pay">
		<h2>Success </h2>
		<p>
			The test order was successful.
		</p>
		<p>
			<b>This was just a test, no payment was made on your card.</b>
		</p>
		<p>
			<a href="/">
				Make another test order
			</a>
		</p>
	</div>

	<div id="tracking" class="apple-pay">
		<h2>Tracking information</h2>
		<div v-if="orderNumber">
			<h3>Order Number</h3>
			<p>{{orderNumber}}<button class="copy-button" @click="toClipboard(orderNumber)">Copy</button></p>
		</div>
		<div v-for="pickup in pickups">
			<h3>Package {{pickup.statusText}}</h3>
			<p>{{pickup.pickupId}}<button class="copy-button" @click="toClipboard(pickup.pickupId)">Copy</button></p>
			<p>
				<button class="event-button" @click="pickupEvent(pickup, 300)" :disabled="busy || pickup.status >= 300">Ready for pickup</button>
				<button class="event-button" @click="pickupEvent(pickup, 400)" :disabled="busy || pickup.status >= 400">Picked up</button>
			</p>
		</div>
		<div v-for="shipment in shipments">
			<h3>Shipment {{shipment.statusText}}</h3>
			<p>{{shipment.trackingNumber}}<button class="copy-button" @click="toClipboard(shipment.trackingNumber)">Copy</button></p>
			<p>
				<button class="event-button" @click="trackingEvent(shipment, 200)" :disabled="busy || shipment.status >= 200">Packaged</button>
				<button class="event-button" @click="trackingEvent(shipment, 300)" :disabled="busy || shipment.status >= 300">Picked up</button>
				<button class="event-button" @click="trackingEvent(shipment, 400)" :disabled="busy || shipment.status >= 400">Last mile</button>
				<button class="event-button" @click="trackingEvent(shipment, 500)" :disabled="busy || shipment.status >= 500">Delivered</button>
			</p>
		</div>
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			tracking.mount('#tracking');
		});
	</script>
</body>

</html>