<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/utils.js"></script>
	<title>Order Placed</title>
</head>

<body>
	<div class="apple-pay">
		<h2>Payment Success </h2>
		<p>
			The test order was successful.
		</p>
		<p>
			<b>This was just a test, no payment was made on your card.</b>
		</p>
		<p>
			<a href="/">
				Make another test order
			</a>
		</p>
	</div>

	<div id="tracking" class="apple-pay">
		<h2>Order information</h2>
		<div v-if="orderNumber">
			<h3>Order {{orderStatusText}}</h3>
			<p>{{orderNumber}}<button class="copy-button" @click="copyOrderNumber">Copy</button></p>
		</div>
		<div v-if="pickupId">
			<h3>Pickup number</h3>
			<p>{{pickupId}}<button class="copy-button" @click="copyPickupId">Copy</button></p>
			<p>
				<button class="event-button" @click="pickupEvent(300)" :disabled="busy || orderStatus >= 300">Ready for Pickup</button>
				<button class="event-button" @click="pickupEvent(400)" :disabled="busy || orderStatus >= 400">Picked up</button>
			</p>
		</div>
		<div v-if="trackingNumber">
			<h3>Tracking number</h3>
			<p>{{trackingNumber}}<button class="copy-button" @click="copyTrackingNumber">Copy</button></p>
			<p>
				<button class="event-button" @click="trackingEvent(200)" :disabled="busy || orderStatus >= 200">Packaged</button>
				<button class="event-button" @click="trackingEvent(300)" :disabled="busy || orderStatus >= 300">Picked up</button>
				<button class="event-button" @click="trackingEvent(400)" :disabled="busy || orderStatus >= 400">Last Mile</button>
				<button class="event-button" @click="trackingEvent(500)" :disabled="busy || orderStatus >= 500">Delivered</button>
			</p>
		</div>
	</div>

	<!-- Use this version of Vue.js for debugging -->
	<!-- <script src="https://unpkg.com/vue@3"></script> -->

	<!-- Use this version of Vue.js for production. See https://cdnjs.com/libraries/vue -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.prod.min.js" integrity="sha512-8GokEWxcB/NrPU4O8BHTgd9dkLouAsvqCnk6BSa2CZw7QXh0QM8GHfS53xYW1QJJVyJWctlcdRQwu5UxeLVsNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="js/success.js"></script>
</body>

</html>